.Cart-container {
    width: 100%;
    background-color: #ccc;
    display: flex;
    flex-direction: column;
}

.info-compra-container {
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 10px;
}

.btn-vaciar {
    width: fit-content;
    padding: 4px 10px;
    border: none;
    border-radius: 5px;
}

.btn-finalizar {
    text-decoration: none;
    width: fit-content;
    padding: 4px 10px;
    border-radius: 5px;
    border: none;
    color: rgb(8, 136, 8);
    font-size: 0.9em;
    background-color: #fff;
}



@media screen and (min-width:720px) {
    
.Cart-container {
    background-color: #555;
    display: flex;
    flex-direction: column;
    width: 40vw;
    min-height: 92vh;
    gap: 20px;
    padding: 20px;
}

.btn-vaciar {
    width: 12vw;
    padding: 4px 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    background-color: #fff;
}

button {
    cursor: pointer;
}

.btn-finalizar {
    width: 12vw;
    padding: 4px 8px;
    border-radius: 5px;
    font-size: .9em;
    text-align: center;
}

.sinProductos {
    text-align: center;
    margin-top: 30px;
}

.btn-verProductos {
    display: flex;
    justify-self: center;
    margin-top: 30px;
    color: initial;
    text-decoration: none;
    padding: 4px 8px;
    font-size: 1.3em;
    background-color: #ddd;
    border-radius: 5px;
}

.info-compra-container {
    background-color: #ddd;
    width: fit-content;
    border-radius: 5px;
    width: 15vw;
}

}