* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contenedor-productos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 80vw;
}


@media screen and (min-width:720px) {
    .contenedor-productos {
        max-width: 70vw;
    }
}



